@model PassionProject2.Models.ViewModels.DetailsTag

@{
    ViewBag.Title = "Details";
}

<div><a href="/Tag/List">Back to list</a></div>
<div><a href="/Tag/Edit/@Model.SelectedTag.TagID">Update</a></div>
<div><a href="/Tag/DeleteConfirm/@Model.SelectedTag.TagID">Delete</a></div>

<h2>@Model.SelectedTag.TagName</h2>

<div>
    <h3>Pantry Items with this tag:</h3>
    @foreach (var pantryitem in Model.CarryTags)
    {
        <a href="/PantryItem/Details/@pantryitem.PantryItemID">@pantryitem.PantryItemName</a>
        <br />
    }
</div>