@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="lead">Welcome to <br />Pantry Management System</h1>
    <p class="lead">Our platform simplifies the task of managing your pantry inventory. Keep track of stock quantities, tags and restocking needs effortlessly. Streamline your pantry management and reduce waste with our user-friendly solution.</p>
    <p><a href="https://localhost:44302/PantryItem/List" class="btn btn-primary btn-lg">Start &raquo;</a></p>
</div>

